In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
data = pd.read_csv('./../data/rawdata/%d.txt' % 2003, sep=';')

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data.columns = [col.strip().replace(' ','_') for col in data.columns]

In [6]:
data.columns

Index([u'Tour_Code', u'Tour_Description', u'Year', u'Tourn.#', u'Player_#',
       u'Course_#', u'Permanent_Tournament_#', u'Player_First_Name',
       u'Player_Last_Name', u'Round', u'Tournament_Name', u'Course_Name',
       u'Hole', u'Hole_Score', u'Par_Value', u'Yardage', u'Shot',
       u'Shot_Type(S/P/D)', u'#_of_Strokes', u'From_Location(Scorer)',
       u'From_Location(Enhanced)', u'To_Location(Laser)',
       u'To_Location(Enhanced)', u'Distance', u'Distance_to_Pin',
       u'In_the_Hole_Flag', u'Around_the_Green_Flag', u'1st_Putt_Flag',
       u'Distance_to_Hole_after_the_Shot', u'Time', u'Lie', u'Elevation',
       u'Slope', u'X_Coordinate', u'Y_Coordinate', u'Z_Coordinate',
       u'Distance_from_Center', u'Distance_from_Edge', u'Date'],
      dtype='object')

In [12]:
cols = ['Year','Tourn.#','Course_#','Round','Hole','Player_#','Shot','Hole_Score','X_Coordinate','Y_Coordinate','Z_Coordinate','#_of_Strokes','Shot_Type(S/P/D)']

In [15]:
data['#_of_Strokes'].value_counts()

1    1249061
0       6764
2         42
Name: #_of_Strokes, dtype: int64

In [16]:
data['Shot_Type(S/P/D)'].value_counts()

S     1243093
D        6430
P        6010
Pr        334
Name: Shot_Type(S/P/D), dtype: int64

In [14]:
data[cols].head(30)

,Year,Tourn.#,Course_#,Round,Hole,Player_#,Shot,Hole_Score,X_Coordinate,Y_Coordinate,Z_Coordinate,#_of_Strokes,Shot_Type(S/P/D)
0,2003,10,656,1,1,1320,1,4,.0000,.0000,0,1,S
1,2003,10,656,1,1,1320,2,4,.0000,.0000,0,1,S
2,2003,10,656,1,1,1320,3,4,.0000,.0000,0,1,S
3,2003,10,656,1,1,1320,4,4,.0000,.0000,0,1,S
4,2003,10,656,1,2,1320,1,4,.0000,.0000,0,1,S
5,2003,10,656,1,2,1320,2,4,.0000,.0000,0,1,S
6,2003,10,656,1,2,1320,3,4,.0000,.0000,0,1,S
7,2003,10,656,1,2,1320,4,4,.0000,.0000,0,1,S
8,2003,10,656,1,3,1320,1,4,.0000,.0000,0,1,S
9,2003,10,656,1,3,1320,2,4,.0000,.0000,0,1,S
10,2003,10,656,1,3,1320,3,4,.0000,.0000,0,1,S
11,2003,10,656,1,3,1320,4,4,.0000,.0000,0,1,S
12,2003,10,656,1,4,1320,1,3,.0000,.0000,0,1,S
13,2003,10,656,1,4,1320,2,3,.0000,.0000,0,1,S
14,2003,10,656,1,4,1320,3,3,.0000,.0000,0,1,S
15,2003,10,656,1,5,1320,1,4,.0000,.0000,0,1,S
16,2003,10,656,1,5,1320,2,4,.0000,.0000,0,1,S
17,2003,10,656,1,5,1320,3,4,.0000,.0000,0,1,S
18,2003,10,656,1,5,1320,4,4,.0000,.0000,0,1,S
19,2003,10,656,1,6,1320,1,4,.0000,.0000,0,1,S
20,2003,10,656,1,6,1320,2,4,.0000,.0000,0,1,S
21,2003,10,656,1,6,1320,3,4,.0000,.0000,0,1,S
22,2003,10,656,1,6,1320,4,4,.0000,.0000,0,1,S
23,2003,10,656,1,7,1320,1,4,.0000,.0000,0,1,S
24,2003,10,656,1,7,1320,2,4,.0000,.0000,0,1,S
25,2003,10,656,1,7,1320,3,4,.0000,.0000,0,1,S
26,2003,10,656,1,7,1320,4,4,.0000,.0000,0,1,S
27,2003,10,656,1,8,1320,1,3,.0000,.0000,0,1,S
28,2003,10,656,1,8,1320,2,3,.0000,.0000,0,1,S
29,2003,10,656,1,8,1320,3,3,.0000,.0000,0,1,S

In [17]:
for year in range(2003,2017):
    data = pd.read_csv('./../data/rawdata/%d.txt' % year, sep=';')
    data.columns = [col.strip().replace(' ','_') for col in data.columns]
    print year
    print data['#_of_Strokes'].value_counts()
    print data['Shot_Type(S/P/D)'].value_counts()
    print

2003
1    1249061
0       6764
2         42
Name: #_of_Strokes, dtype: int64
S     1243093
D        6430
P        6010
Pr        334
Name: Shot_Type(S/P/D), dtype: int64

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (35,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2004
1    1265568
0       7274
2         32
Name: #_of_Strokes, dtype: int64
S     1259269
D        6874
P        6330
Pr        400
C           1
Name: Shot_Type(S/P/D), dtype: int64

2005
1    1272467
0       7342
2         24
Name: #_of_Strokes, dtype: int64
S     1265810
D        6932
P        6593
Pr        410
U          87
C           1
Name: Shot_Type(S/P/D), dtype: int64

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (20,22,27,33,34,35,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2006
1    1290012
0       7980
2         18
Name: #_of_Strokes, dtype: int64
S     1282516
D        7559
P        7042
U         472
Pr        421
Name: Shot_Type(S/P/D), dtype: int64

2007
1    1203931
0       7772
2         18
Name: #_of_Strokes, dtype: int64
S     1197437
D        7341
P        6513
Pr        430
Name: Shot_Type(S/P/D), dtype: int64

2008
1    1197792
0       8265
2         14
Name: #_of_Strokes, dtype: int64
S     1191078
D        7883
P        6731
Pr        379
Name: Shot_Type(S/P/D), dtype: int64

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (20,21,22,27,33,34,35,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2009
1    1129357
0       7978
2         13
Name: #_of_Strokes, dtype: int64
S     1122974
D        7592
P        6397
Pr        385
Name: Shot_Type(S/P/D), dtype: int64

2010
1    1152210
0       8186
2         20
Name: #_of_Strokes, dtype: int64
S     1145820
D        7667
P        6410
Pr        519
Name: Shot_Type(S/P/D), dtype: int64

2011
1    1116991
0       8166
2         13
Name: #_of_Strokes, dtype: int64
S     1110239
D        7741
P        6766
Pr        424
Name: Shot_Type(S/P/D), dtype: int64

2012
1    1094823
0       8008
2         16
Name: #_of_Strokes, dtype: int64
S     1088039
D        7567
P        6800
Pr        441
Name: Shot_Type(S/P/D), dtype: int64

2013
1    988272
0      7019
2        13
Name: #_of_Strokes, dtype: int64
S     982211
D       6609
P       6074
Pr       410
Name: Shot_Type(S/P/D), dtype: int64

2014
1    1098130
0       7963
2         16
Name: #_of_Strokes, dtype: int64
S     1091433
D        7499
P        6713
Pr        464
Name: Shot_Type(S/P/D), dtype: int64

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (13,20,21,22,27,33,34,35,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2015
1    1167919
0       8160
2         22
Name: #_of_Strokes, dtype: int64
S     1159406
D        7715
P        6765
C        1770
Pr        445
Name: Shot_Type(S/P/D), dtype: int64

2016
1    1134054
0       7895
2         17
Name: #_of_Strokes, dtype: int64
S     1125897
D        7643
P        6654
C        1520
Pr        252
Name: Shot_Type(S/P/D), dtype: int64

In [20]:
id_cols = ['Permanent_Tournament_#','Year','Player_#','Round','Hole']
suspects = set(tuple(tup) for tup in data[(data.Shot>data.Hole_Score)][id_cols].values.tolist())
suspect = [tuple(tup) in suspects for tup in data[id_cols].values.tolist()]

In [32]:
cols_of_interest = id_cols + ['Shot','Hole_Score','Distance','X_Coordinate','Y_Coordinate',
                              'Z_Coordinate','Distance_to_Hole_after_the_Shot','Shot_Type(S/P/D)',
                              'From_Location(Scorer)','To_Location(Scorer)',
                             'Strokes_Gained/Baseline', u'Strokes_Gained_Category']

In [33]:
data.iloc[suspect][cols_of_interest]

,Permanent_Tournament_#,Year,Player_#,Round,Hole,Shot,Hole_Score,Distance,X_Coordinate,Y_Coordinate,Z_Coordinate,Distance_to_Hole_after_the_Shot,Shot_Type(S/P/D),From_Location(Scorer),To_Location(Scorer),Strokes_Gained/Baseline,Strokes_Gained_Category
367,464,2016,10885,1,3,1,7,10324,"10,225.0050","11,019.4840",103.729,5592,S,Tee Box,Primary Rough,-0.176,Off the Tee
368,464,2016,10885,1,3,2,7,5989,"9,933.1400","11,423.6000",128.692,719,S,Primary Rough,Unknown,-1.577,Approach to the Green
369,464,2016,10885,1,3,3,7,0,.0000,.0000,0,719,P,Unknown,NaN,0.000,NaN
370,464,2016,10885,1,3,4,7,103,"9,938.1730","11,416.7120",129.212,664,D,Unknown,Landscaping,0.000,NaN
371,464,2016,10885,1,3,5,7,428,"9,969.4870","11,433.8460",129.346,311,S,Other,Primary Rough,-0.506,Around the Green
372,464,2016,10885,1,3,6,7,533,"10,011.2850","11,418.9620",127.856,220,S,Primary Rough,Green,-0.584,Around the Green
373,464,2016,10885,1,3,7,7,216,"9,994.0210","11,423.9600",128.331,10,S,Green,Green,-0.152,Putting
374,464,2016,10885,1,3,8,7,10,.0000,.0000,0,0,S,Green,NaN,0.001,Putting
961,464,2016,22046,1,11,1,5,5755,"11,449.8210","10,081.4170",82.734,689,S,Tee Box,Water,-2.109,Approach to the Green
962,464,2016,22046,1,11,2,5,0,.0000,.0000,0,689,P,Unknown,NaN,0.000,NaN
963,464,2016,22046,1,11,3,5,3520,"11,259.2570","9,858.4560",87.394,4191,D,Unknown,Tee Box,0.000,NaN
964,464,2016,22046,1,11,4,5,4331,"11,459.9530","10,158.4340",88.63,375,S,Other,Green,0.164,Approach to the Green
965,464,2016,22046,1,11,5,5,437,"11,480.9280","10,128.6380",88.724,61,S,Green,Green,-0.267,Putting
966,464,2016,22046,1,11,6,5,61,.0000,.0000,0,0,S,Green,NaN,0.254,Putting
1436,464,2016,23541,1,5,1,5,10489,"10,811.3130","12,738.9310",120.167,8552,S,Tee Box,Primary Rough,-0.068,Off the Tee
1437,464,2016,23541,1,5,2,5,9028,"11,318.9350","12,183.6840",115.584,1129,S,Primary Rough,Cart Path,-0.042,Approach to the Green
1438,464,2016,23541,1,5,3,5,296,"11,301.3500","12,200.9770",116.354,1038,D,Unknown,Primary Rough,0.000,NaN
1439,464,2016,23541,1,5,4,5,793,"11,333.1990","12,258.7770",120.445,260,S,Primary Rough,Fairway,-0.336,Around the Green
1440,464,2016,23541,1,5,5,5,286,"11,352.7220","12,272.3910",121.356,27,S,Fairway,Green,-0.018,Around the Green
1441,464,2016,23541,1,5,6,5,27,.0000,.0000,0,0,S,Green,NaN,0.018,Putting
1527,464,2016,23621,1,11,1,5,5757,"11,467.9630","10,066.6550",82.734,792,S,Tee Box,Water,-2.128,Approach to the Green
1528,464,2016,23621,1,11,2,5,0,.0000,.0000,0,792,P,Unknown,NaN,0.000,NaN
1529,464,2016,23621,1,11,3,5,3676,"11,247.0040","9,854.5420",87.197,4320,D,Unknown,Tee Box,0.000,NaN
1530,464,2016,23621,1,11,4,5,4456,"11,477.2430","10,145.8860",88.719,165,S,Other,Green,0.417,Approach to the Green
1531,464,2016,23621,1,11,5,5,182,"11,477.3820","10,130.7390",88.745,14,S,Green,Green,-0.249,Putting
1532,464,2016,23621,1,11,6,5,14,.0000,.0000,0,0,S,Green,NaN,0.002,Putting
1926,464,2016,24494,1,5,1,5,10187,"10,778.7510","12,719.7150",119.57,18972,S,Tee Box,Primary Rough,-0.682,Off the Tee
1927,464,2016,24494,1,5,2,5,0,.0000,.0000,0,8707,Pr,Tee Box,NaN,0.000,NaN
1928,464,2016,24494,1,5,3,5,4466,"10,925.8520","12,377.9290",111.934,5247,S,Primary Rough,Primary Rough,0.087,Approach to the Green
1929,464,2016,24494,1,5,4,5,5388,"11,357.3150","12,254.1520",121.19,232,S,Primary Rough,Green,0.286,Approach to the Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139873,60,2016,37455,3,7,4,5,1065,"10,799.5320","8,561.7090",966.2230,270,S,Primary Rough,Green,-0.222,Around the Green
1139874,60,2016,37455,3,7,5,5,287,"10,797.6020","8,537.8830",967.2530,15,S,Green,Green,-0.097,Putting
1139875,60,2016,37455,3,7,6,5,15,.0000,.0000,.0000,0,S,Green,NaN,0.003,Putting
1139972,60,2016,40026,3,15,1,4,7597,"9,817.4990","8,743.8520",954.8570,988,S,Tee Box,Water,-1.905,Approach to the Green
1139973,60,2016,40026,3,15,2,4,0,.0000,.0000,.0000,988,P,Unknown,NaN,0.000,NaN
1139974,60,2016,40026,3,15,3,4,1465,"9,871.4760","8,634.3930",958.6380,2403,D,Unknown,Tee Box,0.000,NaN
1139975,60,2016,40026,3,15,4,4,2364,"9,815.2260","8,823.2270",959.8360,43,S,Other,Green,0.987,Approach to the Green
1139976,60,2016,40026,3,15,5,4,43,.0000,.0000,.0000,0,S,Green,NaN,0.098,Putting
1140628,60,2016,26331,4,10,1,5,11281,"9,048.4310","9,958.2010",964.0570,4744,S,Tee Box,Unknown,-1.203,Off the Tee
1140629,60,2016,26331,4,10,2,5,0,.0000,.0000,.0000,4744,P,Unknown,NaN,0.000,NaN
1140630,60,2016,26331,4,10,3,5,326,"9,065.0040","9,975.2260",977.2580,4998,D,Unknown,Unknown,0.000,NaN
1140631,60,2016,26331,4,10,4,5,4677,"8,704.6640","9,827.1410",987.3620,321,S,Other,Green,0.309,Approach to the Green
1140632,60,2016,26331,4,10,5,5,313,"8,681.8350","9,814.5580",987.9870,29,S,Green,Green,-0.076,Putting
1140633,60,2016,26331,4,10,6,5,29,.0000,.0000,.0000,0,S,Green,NaN,0.024,Putting
1140647,60,2016,26331,4,15,1,5,7254,"9,920.8320","8,844.0970",954.8570,841,S,Tee Box,Water,-1.976,Approach to the Green
1140648,60,2016,26331,4,15,2,5,0,.0000,.0000,.0000,841,P,Unknown,NaN,0.000,NaN
1140649,60,2016,26331,4,15,3,5,2531,"9,869.7670","8,639.4670",958.6970,1994,D,Unknown,Tee Box,0.000,NaN
1140650,60,2016,26331,4,15,4,5,1450,"9,860.1600","8,759.8800",958.2080,548,S,Other,Intermediate Rough,-0.190,Approach to the Green
1140651,60,2016,26331,4,15,5,5,538,"9,862.7340","8,804.6050",958.9020,12,S,Intermediate Rough,Green,0.268,Around the Green
1140652,60,2016,26331,4,15,6,5,12,.0000,.0000,.0000,0,S,Green,NaN,0.001,Putting
1141738,60,2016,34046,4,13,1,4,11293,"8,201.2650","9,217.4810",998.1360,5037,S,Tee Box,Primary Rough,-0.034,Off the Tee
1141739,60,2016,34046,4,13,2,4,30,"8,201.0660","9,219.9470",998.0610,5066,D,Unknown,Primary Rough,0.000,NaN
1141740,60,2016,34046,4,13,3,4,4164,"8,095.5470","8,889.5520","1,008.8750",976,S,Primary Rough,Intermediate Rough,-0.328,Approach to the Green
1141741,60,2016,34046,4,13,4,4,919,"8,107.4300","8,814.0110","1,012.5760",64,S,Intermediate Rough,Green,0.178,Around the Green
1141742,60,2016,34046,4,13,5,4,64,.0000,.0000,.0000,0,S,Green,NaN,0.281,Putting
1141838,60,2016,37455,4,3,1,4,9915,"11,453.9230","9,711.8900","1,003.3440",3996,S,Tee Box,Fairway Bunker,-0.224,Off the Tee
1141839,60,2016,37455,4,3,2,4,5218,"11,022.2650","9,661.7490",988.0210,1222,S,Fairway Bunker,Primary Rough,-0.556,Approach to the Green
1141840,60,2016,37455,4,3,3,4,266,"11,018.6000","9,640.0100",985.9490,1339,D,Unknown,Primary Rough,0.000,NaN
1141841,60,2016,37455,4,3,4,4,1212,"11,112.9100","9,675.3630",993.6620,129,S,Primary Rough,Green,0.082,Around the Green
1141842,60,2016,37455,4,3,5,4,129,.0000,.0000,.0000,0,S,Green,NaN,0.660,Putting

In [37]:
data.iloc[suspect]['From_Location(Scorer)'].value_counts(dropna=False)

Unknown               12843
Green                 11313
Tee Box                7621
Primary Rough          5297
Fairway                4494
Intermediate Rough     1297
Other                   966
Native Area             683
Green Side Bunker       550
Fringe                  447
Fairway Bunker          294
NaN                      31
Water                    29
Name: From_Location(Scorer), dtype: int64

In [36]:
data.iloc[suspect]['To_Location(Scorer)'].value_counts(dropna=False)

NaN                   17048
Green                  9909
Primary Rough          5446
Fairway                4277
Water                  3901
Intermediate Rough     1153
Native Area             785
Tee Box                 648
Unknown                 541
Green Side Bunker       475
Tree Outline            459
Fringe                  384
Cart Path               375
Fairway Bunker          274
Dirt Outline            117
Rock Outline             41
Landscaping              13
Wall                     10
Bush                      4
Path                      4
Other                     1
Name: To_Location(Scorer), dtype: int64

In [38]:
set(data['Shot_Type(S/P/D)'])

{'C', 'D', 'P', 'Pr', 'S'}

In [41]:
list(set(['S']))==['S']

True

In [45]:
(len(data.drop_duplicates(['Permanent_Tournament_#','Course_#','Round','Hole','Player_#'])),
 len(data.drop_duplicates(['Permanent_Tournament_#','Course_#','Round','Hole','Player_#','Shot_Type(S/P/D)'])))

(316445, 328852)

In [61]:
for year in range(2004,2017):
    with warnings.catch_warnings():
        warnings.simplefilter("ignore")
        data = pd.read_csv('./../data/rawdata/%d.txt' % year, sep=';')
    data.columns = [col.strip().replace(' ','_') for col in data.columns]
    ## converting all coords to str to strip out white space
    data['X_Coordinate'] = [str(i).replace(' ','') for i in data['X_Coordinate']]
    data['Y_Coordinate'] = [str(i).replace(' ','') for i in data['Y_Coordinate']]
    data['Z_Coordinate'] = [str(i).replace(' ','') for i in data['Z_Coordinate']]
    
    ## getting rid of commas
    data['X_Coordinate'] = [str(i).replace(',','') for i in data['X_Coordinate']] 
    data['Y_Coordinate'] = [str(i).replace(',','') for i in data['Y_Coordinate']]
    data['Z_Coordinate'] = [str(i).replace(',','') for i in data['Z_Coordinate']]
    
    ## placing negative signs in proper place
    data['X_Coordinate'] = ['-' + str(i)[:len(str(i))-1] if str(i)[len(str(i))-1]=='-' else i for i in data['X_Coordinate']] 
    data['Y_Coordinate'] = ['-' + str(i)[:len(str(i))-1] if str(i)[len(str(i))-1]=='-' else i for i in data['Y_Coordinate']]
    data['Z_Coordinate'] = ['-' + str(i)[:len(str(i))-1] if str(i)[len(str(i))-1]=='-' else i for i in data['Z_Coordinate']]
    
    ## converting to number
    data['X_Coordinate'] = pd.to_numeric(data['X_Coordinate'])
    data['Y_Coordinate'] = pd.to_numeric(data['Y_Coordinate'])
    data['Z_Coordinate'] = pd.to_numeric(data['Z_Coordinate'])
    
    print year
    print 'Starting size: %d' % (len(data),)
    deduped = data.drop_duplicates(['Permanent_Tournament_#','Course_#','Round','Hole','Player_#','Shot_Type(S/P/D)'])
    d =  deduped.groupby(['Permanent_Tournament_#','Course_#','Round','Hole','Player_#'])['Shot_Type(S/P/D)'].count().to_dict()
    just_shots = set(key for key,value in d.iteritems() if value==1)
    to_drop = [tuple(tup) in just_shots
               for tup in data[['Permanent_Tournament_#','Course_#','Round','Hole','Player_#']].values.tolist()]
    print 'Player holes with just shots: %d' % (sum(to_drop),)
    data = data.iloc[to_drop]
    print 'Data points with Shot value still greater than hole score: %d' % (len(data[(data.Shot>data.Hole_Score)]),)
    
    
    zeros = data[(data.Shot!=data.Hole_Score) & ((data['X_Coordinate']==0) | (data['Y_Coordinate']==0) | (data['Z_Coordinate']==0))]
    
    print 'Data points with Zero Coordinates after drop: %d' % (len(zeros),)

    print 'Strokes Gained Estimated of zeros: %d' % ((zeros['Strokes_Gained/Baseline']!=0).sum(),)

2004
Starting size: 1272874
Player holes with just shots: 1223508
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 82847
Strokes Gained Estimated of zeros: 357
2005
Starting size: 1279833
Player holes with just shots: 1229519
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 72030
Strokes Gained Estimated of zeros: 530
2006
Starting size: 1298010
Player holes with just shots: 1243881
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 88624
Strokes Gained Estimated of zeros: 745
2007
Starting size: 1211721
Player holes with just shots: 1160054
Data points with Shot value still greater than hole score: 1
Data points with Zero Coordinates after drop: 68021
Strokes Gained Estimated of zeros: 477
2008
Starting size: 1206071
Player holes with just shots: 1151735
Data points with Shot value still greater than hole score: 2
Data points with Zero Coordinates after drop: 53105
Strokes Gained Estimated of zeros: 433
2009
Starting size: 1137348
Player holes with just shots: 1085729
Data points with Shot value still greater than hole score: 1
Data points with Zero Coordinates after drop: 77813
Strokes Gained Estimated of zeros: 442
2010
Starting size: 1160416
Player holes with just shots: 1106926
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 73776
Strokes Gained Estimated of zeros: 381
2011
Starting size: 1125170
Player holes with just shots: 1071310
Data points with Shot value still greater than hole score: 1
Data points with Zero Coordinates after drop: 72415
Strokes Gained Estimated of zeros: 408
2012
Starting size: 1102847
Player holes with just shots: 1049951
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 68626
Strokes Gained Estimated of zeros: 387
2013
Starting size: 995304
Player holes with just shots: 948345
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 60287
Strokes Gained Estimated of zeros: 293
2014
Starting size: 1106109
Player holes with just shots: 1053291
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 79608
Strokes Gained Estimated of zeros: 355
2015
Starting size: 1176101
Player holes with just shots: 1114437
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 97255
Strokes Gained Estimated of zeros: 2581
2016
Starting size: 1141966
Player holes with just shots: 1083466
Data points with Shot value still greater than hole score: 0
Data points with Zero Coordinates after drop: 98523
Strokes Gained Estimated of zeros: 3995