In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./../data/rawdata/2003.txt',sep=';')

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.columns

Index([u'Tour Code', u' Tour Description', u' Year', u' Tourn.#', u' Player #',
       u' Course #', u' Permanent Tournament #', u' Player First Name',
       u' Player Last Name', u' Round', u' Tournament Name', u'Course Name',
       u' Hole', u' Hole Score', u' Par Value', u' Yardage', u'  Shot',
       u' Shot Type(S/P/D)', u'# of Strokes', u' From Location(Scorer)',
       u' From Location(Enhanced)', u' To Location(Laser)',
       u' To Location(Enhanced)', u' Distance', u' Distance to Pin',
       u' In the Hole Flag', u' Around the Green Flag', u'1st Putt Flag',
       u' Distance to Hole after the Shot', u' Time', u' Lie', u' Elevation',
       u' Slope', u' X Coordinate', u' Y Coordinate', u'  Z Coordinate',
       u' Distance from Center', u' Distance from Edge', u' Date'],
      dtype='object')

In [5]:
cols = [' Year',' Player #',' Round',' Course #',' Permanent Tournament #',' Hole']

In [6]:
data = pd.concat([pd.read_csv('./../data/rawdata/%d.txt' % year,sep=';')[cols] for year in range(2003,2017)])

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (35,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (20,22,27,33,34,35,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (20,21,22,27,33,34,35,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (13,20,21,22,27,33,34,35,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
data.head()

    Year   Player #   Round   Course #   Permanent Tournament #   Hole
0   2003       1320       1        656                       16      1
1   2003       1320       1        656                       16      1
2   2003       1320       1        656                       16      1
3   2003       1320       1        656                       16      1
4   2003       1320       1        656                       16      2

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16469637 entries, 0 to 1141965
Data columns (total 6 columns):
 Year                      int64
 Player #                  int64
 Round                     int64
 Course #                  int64
 Permanent Tournament #    int64
 Hole                      int64
dtypes: int64(6)
memory usage: 879.6 MB

In [9]:
print 'Number of shots: ' + str(len(data))
print 'Number of players: ' + str(len(pd.unique(data[' Player #'])))
print 'Number of courses: ' + str(len(pd.unique(data[' Course #'])))
print 'Number of tournaments: ' + str(len(data.groupby([' Year',' Permanent Tournament #'])))
print 'Number of rounds: ' + str(len(data.groupby([' Year',' Permanent Tournament #',' Round'])))
print 'Number of holes: ' + str(len(data.groupby([' Year',' Permanent Tournament #',' Round',' Hole'])))

Number of shots: 16469637
Number of players: 2054
Number of courses: 107
Number of tournaments: 561
Number of rounds: 2244
Number of holes: 40392

In [15]:
labels = ['Number of shots','Number of players','Number of courses',
          'Number of tournaments','Number of rounds','Number of holes*']

In [12]:
numbers = [len(data),len(pd.unique(data[' Player #'])),len(pd.unique(data[' Course #'])),
           len(data.groupby([' Year',' Permanent Tournament #'])),
           len(data.groupby([' Year',' Permanent Tournament #',' Round'])),
           len(data.groupby([' Year',' Permanent Tournament #',' Round',' Hole']))]

In [16]:
pd.DataFrame({'Query':labels,'Result':numbers})

                   Query    Result
0        Number of shots  16469637
1      Number of players      2054
2      Number of courses       107
3  Number of tournaments       561
4       Number of rounds      2244
5       Number of holes*     40392

In [17]:
pd.DataFrame({'Query':labels,'Result':numbers}).to_clipboard()

In [23]:
cols = [' From Location(Scorer)']

In [24]:
data = pd.concat([pd.read_csv('./../data/rawdata/%d.txt' % year,sep=';')[cols] for year in range(2003,2017)])

In [25]:
data.columns

Index([u' From Location(Scorer)'], dtype='object')

In [27]:
data[' From Location(Scorer)'].value_counts()/float(len(data))

Green                 0.407252
Tee Box               0.252514
Fairway               0.166480
Primary Rough         0.079925
Intermediate Rough    0.023775
Green Side Bunker     0.023075
Fringe                0.017771
Unknown               0.011512
Fairway Bunker        0.011507
Native Area           0.004137
Other                 0.001612
Water                 0.000074
Grass Bunker          0.000052
Name:  From Location(Scorer), dtype: float64