In [14]:
import numpy as np

In [1]:
with open('log.txt','r') as log_file:
    log = log_file.read()

In [5]:
cats = ['Green','Fairway','Intermediate Rough','Primary Rough','Fringe','Bunker','Other']

In [12]:
num_trees = {}
results = {}
skip_lines = ["Multiple eval metrics have been passed: 'eval-error' will be used for early stopping.",
              "Will train until eval-error hasn't improved in 25 rounds."]
splitted = log.split('\n')
for u,line in enumerate(splitted):
    if not line:
        continue
    if line in cats:
        cat = line
        print cat
        results[cat] = []
        continue
    if line.startswith('**'):
        results[cat].append(float(line.replace('  ',' ').split(' ')[-2]))

Green
Fairway
Intermediate Rough
Primary Rough
Fringe
Bunker
Other

In [15]:
for cat in cats:
    print cat
    res = results[cat]
    mean = np.mean(res)
    stderr = np.std(res)/15**.5
    print (mean - stderr, mean + stderr)

Green
(0.2122970324261543, 0.21270603424051229)
Fairway
(0.39280379960535045, 0.3938106003946496)
Intermediate Rough
(0.39718459133246881, 0.39829727533419784)
Primary Rough
(0.45627109218938794, 0.4572438411439454)
Fringe
(0.23918482023405763, 0.24077904643260917)
Bunker
(0.50947634189843349, 0.51064192476823311)
Other
(0.54035811060633776, 0.54571868939366208)

In [28]:
results2 = {'Fairway':np.array([0.392835,0.390462,0.394254,0.393204,0.391213,0.396961,0.393245,0.393665,0.39104,0.393252,0.394676,0.395104,0.392875,0.388777,0.394167]),
            'Intermediate Rough':np.array([0.396777,0.397803,0.396002,0.395112,0.397533,0.395186,0.398744,0.396738,0.397406,0.391295,0.394594,0.398661,0.399008,0.395502,0.396761]),
            'Primary Rough':np.array([0.457805,0.458128,0.458237,.456961 ,0.460041,0.458991,.453285 ,0.455392,0.455347,0.454682,.45823,.45476,.45530,.45443,.45604]),
            'Other':np.array([0.537345,0.537584,0.529978,.544887 ,0.534295,0.554599,0.551791,0.544254,0.527396,0.543669,0.54129,0.53123,0.53012,0.53986,0.53942])}

In [29]:
for cat in cats:
    try:
        res = results2[cat]
        print cat
    except:
        continue
    mean = np.mean(res)
    stderr = np.std(res)/15**.5
    print (mean - stderr, mean + stderr)

Fairway
(0.3925418923213837, 0.39355544101194972)
Intermediate Rough
(0.39597861350996943, 0.3969709864900306)
Primary Rough
(0.45601652424431471, 0.45700067575568548)
Other
(0.53720486823252989, 0.54115753176746995)

In [2]:
(1091910-1082606)+(1144481-1136560)+(1165849-1159590)+(1159805-971253)\
+(1103202-923613)+(1117612-935221)+(1015727-850422)+(1043987-870492)\
+(1008668-841940)+(991319-828714)+(898425-747896)+(979148-816194)\
+(1014537-846459)+(986202-820487)+(681646-564384)

2006687

In [3]:
13395831-13394049

1782

In [4]:
2561495-2559771

1724

In [8]:
4509219+2559771+349330+1221669+215128

8855117

In [9]:
4509219+\
2561495+\
1221669+\
531929+\
349330+\
215128+\
92183

9480953

In [10]:
9480953-9479228

1725

In [12]:
10477222+3914878

14392100

In [13]:
1159805-1065629

94176

In [14]:
1159805-971253

188552

In [16]:
import pandas as pd

In [52]:
data = pd.read_csv('../2017.csv')

In [32]:
pd.options.display.max_columns = 100

In [38]:
id_cols = ['Year','Permanent_Tournament_#','Course_#','Round','Hole']
shot_id_cols = id_cols + ['Player_#','Real_Shots']

In [42]:
rawdata = pd.read_csv('../data/rawdata/2017.txt',sep=';')

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (13,20,21,22,33,34,35,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
rawdata.columns = [col.strip().replace(' ','_') for col in rawdata.columns]

In [46]:
mask = (rawdata['Permanent_Tournament_#']==4) & (rawdata.Round==1) & (rawdata.Hole==1) & (rawdata['Player_#']==19803)
rawdata.loc[mask,id_cols + ['Player_#','Shot','X_Coordinate','Y_Coordinate']]

,Year,Permanent_Tournament_#,Course_#,Round,Hole,Player_#,Shot,X_Coordinate,Y_Coordinate
229672,2017,4,4,1,1,19803,1,"8,997.9460","10,896.5670"
229673,2017,4,4,1,1,19803,2,"8,479.3310","10,731.7070"
229674,2017,4,4,1,1,19803,3,"8,464.4880","10,721.4710"
229675,2017,4,4,1,1,19803,4,.0000,.0000

In [47]:
data_pre_drop = pd.read_csv('../data/2017.csv')

In [49]:
mask = (data_pre_drop['Permanent_Tournament_#']==4) & (data_pre_drop.Round==1) & (data_pre_drop.Hole==1) & (data_pre_drop['Player_#']==19803)
data_pre_drop.loc[mask,id_cols + ['Player_#','Real_Shots','End_X_Coordinate','End_Y_Coordinate']]

,Year,Permanent_Tournament_#,Course_#,Round,Hole,Player_#,Real_Shots,End_X_Coordinate,End_Y_Coordinate
37418,2017,4,4,1,1,19803,1,8997.946,10896.567
37419,2017,4,4,1,1,19803,2,8479.331,10731.707

In [51]:
data_pre_drop.shape

(564384, 59)

In [53]:
data[shot_id_cols+['last_shot_mask','Strokes_Gained']].sort_values(['Course_#','Round','Hole','Player_#','Real_Shots']).head(50)

,Year,Permanent_Tournament_#,Course_#,Round,Hole,Player_#,Real_Shots,last_shot_mask,Strokes_Gained
45288,2017,4,4,1,1,8793,1,False,0.032384
45289,2017,4,4,1,1,8793,2,False,-0.403818
45290,2017,4,4,1,1,8793,3,False,-0.012850
45291,2017,4,4,1,1,8793,4,False,-0.484489
45292,2017,4,4,1,1,8793,5,True,0.035440
45441,2017,4,4,1,1,12716,1,False,-0.108761
45442,2017,4,4,1,1,12716,2,False,-0.448865
45443,2017,4,4,1,1,12716,3,False,0.213624
45444,2017,4,4,1,1,12716,4,False,-0.495391
45445,2017,4,4,1,1,12716,5,True,0.006059
45659,2017,4,4,1,1,19803,1,False,0.111031
45660,2017,4,4,1,1,19803,2,False,0.196272
45661,2017,4,4,1,1,19803,3,False,-0.143338
45662,2017,4,4,1,1,19803,4,True,0.002701
45873,2017,4,4,1,1,20098,1,False,0.107404
45874,2017,4,4,1,1,20098,2,False,-0.447034
45875,2017,4,4,1,1,20098,3,False,-0.355275
45876,2017,4,4,1,1,20098,4,False,-0.173869
45877,2017,4,4,1,1,20098,5,True,0.035440
45947,2017,4,4,1,1,20157,1,False,-0.073798
45948,2017,4,4,1,1,20157,2,False,-0.298624
45949,2017,4,4,1,1,20157,3,False,-0.451779
45950,2017,4,4,1,1,20157,4,False,-0.044573
45951,2017,4,4,1,1,20157,5,True,0.035440
46232,2017,4,4,1,1,20472,1,False,0.151422
46233,2017,4,4,1,1,20472,2,False,-0.046914
46234,2017,4,4,1,1,20472,3,False,0.026719
46235,2017,4,4,1,1,20472,4,True,0.035440
46682,2017,4,4,1,1,20766,1,False,0.107404
46683,2017,4,4,1,1,20766,2,False,-0.420759
46684,2017,4,4,1,1,20766,3,False,-0.255206
46685,2017,4,4,1,1,20766,4,False,-0.472235
46686,2017,4,4,1,1,20766,5,True,0.207463
46755,2017,4,4,1,1,20771,1,False,-0.176146
46756,2017,4,4,1,1,20771,2,False,-0.381480
46757,2017,4,4,1,1,20771,3,False,0.534197
46758,2017,4,4,1,1,20771,4,True,0.190095
47046,2017,4,4,1,1,22046,1,False,-0.108761
47047,2017,4,4,1,1,22046,2,False,-0.204594
47048,2017,4,4,1,1,22046,3,False,-0.255206
47049,2017,4,4,1,1,22046,4,False,-0.314986
47050,2017,4,4,1,1,22046,5,True,0.050214
47119,2017,4,4,1,1,22056,1,False,0.250060
47120,2017,4,4,1,1,22056,2,False,0.055035
47121,2017,4,4,1,1,22056,3,False,-0.141130
47122,2017,4,4,1,1,22056,4,True,0.002701
47338,2017,4,4,1,1,22371,1,False,-0.116367
47339,2017,4,4,1,1,22371,2,False,0.190172
47340,2017,4,4,1,1,22371,3,False,0.057422
47341,2017,4,4,1,1,22371,4,True,0.035440

In [55]:
data.Difficulty_End.isnull().sum()

478

In [54]:
data.Difficulty_Start.isnull().sum()

166

In [62]:
rawdata.columns

Index([u'Tour_Code', u'Tour_Description', u'Year', u'Tourn.#', u'Player_#',
       u'Course_#', u'Permanent_Tournament_#', u'Player_First_Name',
       u'Player_Last_Name', u'Round', u'Tournament_Name', u'Course_Name',
       u'Hole', u'Hole_Score', u'Par_Value', u'Yardage', u'Shot',
       u'Shot_Type(S/P/D)', u'#_of_Strokes', u'From_Location(Scorer)',
       u'From_Location(Enhanced)', u'To_Location(Scorer)',
       u'To_Location(Enhanced)', u'Distance', u'Distance_to_Pin',
       u'In_the_Hole_Flag', u'Around_the_Green_Flag', u'1st_Putt_Flag',
       u'Distance_to_Hole_after_the_Shot', u'Time', u'Lie', u'Elevation',
       u'Slope', u'X_Coordinate', u'Y_Coordinate', u'Z_Coordinate',
       u'Distance_from_Center', u'Distance_from_Edge', u'Date', u'Left/Right',
       u'Strokes_Gained/Baseline', u'Strokes_Gained_Category',
       u'Recovery_Shot'],
      dtype='object')

In [66]:
mask = (rawdata['Course_#']==704) & (rawdata.Round==3) & (rawdata.Hole==11) & (rawdata['Player_#']==8075)
rawdata.loc[mask,id_cols + ['Player_#','Shot','X_Coordinate','Y_Coordinate','Z_Coordinate','Shot_Type(S/P/D)','Distance','#_of_Strokes']]

,Year,Permanent_Tournament_#,Course_#,Round,Hole,Player_#,Shot,X_Coordinate,Y_Coordinate,Z_Coordinate,Shot_Type(S/P/D),Distance,#_of_Strokes
212905,2017,2,704,3,11,8075,1,"8,336.0970","9,091.1470",10.7660-,S,8982,1
212906,2017,2,704,3,11,8075,2,"8,483.1930","9,628.4260",.0000,S,6686,1
212907,2017,2,704,3,11,8075,3,"8,433.4530","10,099.5050",7.9740-,S,5685,1
212908,2017,2,704,3,11,8075,4,"8,394.8880","10,176.2350",6.8120-,S,1031,1
212909,2017,2,704,3,11,8075,5,.0000,.0000,.0000,S,38,1

In [60]:
mask = (data['Course_#']==704) & (data.Round==3) & (data.Hole==11) & (data['Player_#']==8075)
data.loc[mask,cols]

,Year,Permanent_Tournament_#,Course_#,Round,Hole,Player_#,Real_Shots,last_shot_mask,Difficulty_Start,Difficulty_End,Strokes_Gained
323,2017,2,704,3,11,8075,1,False,5.039216,NaN,NaN
324,2017,2,704,3,11,8075,4,False,2.177234,1.058904,0.118330
325,2017,2,704,3,11,8075,5,True,1.058904,0.000000,0.058904

In [59]:
cols = shot_id_cols+['last_shot_mask','Difficulty_Start','Difficulty_End','Strokes_Gained']
data.loc[data.Strokes_Gained.isnull(),cols]

,Year,Permanent_Tournament_#,Course_#,Round,Hole,Player_#,Real_Shots,last_shot_mask,Difficulty_Start,Difficulty_End,Strokes_Gained
323,2017,2,704,3,11,8075,1,False,5.039216,NaN,NaN
390,2017,2,704,2,11,12510,1,False,4.884615,NaN,NaN
743,2017,2,704,3,11,19846,1,False,5.039216,NaN,NaN
1023,2017,2,704,2,11,20472,1,False,4.884615,NaN,NaN
1451,2017,2,704,2,11,20848,1,False,4.884615,NaN,NaN
1866,2017,2,704,2,11,22046,1,False,4.884615,NaN,NaN
2510,2017,2,704,3,11,23353,1,False,5.039216,NaN,NaN
3353,2017,2,704,2,11,24358,1,False,4.884615,NaN,NaN
5260,2017,2,704,1,11,25818,1,False,4.745098,NaN,NaN
5540,2017,2,704,4,11,25900,1,False,4.714286,NaN,NaN
6244,2017,2,704,2,11,27129,1,False,4.884615,NaN,NaN
6455,2017,2,704,1,11,27436,1,False,4.745098,NaN,NaN
10065,2017,2,704,2,11,31202,1,False,4.884615,NaN,NaN
10755,2017,2,704,3,5,32334,2,False,4.857143,NaN,NaN
10756,2017,2,704,3,5,32334,3,False,NaN,3.541687,NaN
11204,2017,2,704,4,11,33141,1,False,4.714286,NaN,NaN
11836,2017,2,704,4,11,34021,1,False,4.714286,NaN,NaN
11957,2017,2,704,2,7,34098,1,False,3.980769,NaN,NaN
11958,2017,2,704,2,7,34098,2,False,NaN,2.751163,NaN
11972,2017,2,704,2,11,34098,1,False,4.884615,NaN,NaN
12598,2017,2,704,3,11,34360,1,False,5.039216,NaN,NaN
12869,2017,2,704,3,11,34466,1,False,5.039216,NaN,NaN
12941,2017,2,704,4,11,34466,1,False,4.714286,NaN,NaN
13299,2017,2,704,4,11,35541,1,False,4.714286,NaN,NaN
13440,2017,2,704,3,11,35879,1,False,5.039216,NaN,NaN
13512,2017,2,704,3,11,35891,1,False,5.039216,NaN,NaN
14775,2017,2,704,1,11,46443,1,False,4.745098,NaN,NaN
15125,2017,2,704,2,11,46550,1,False,4.884615,NaN,NaN
15757,2017,2,704,2,11,47959,1,False,4.884615,NaN,NaN
15830,2017,2,704,1,11,48081,1,False,4.745098,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
474436,2017,41,770,2,2,33120,2,False,3.799100,NaN,NaN
474437,2017,41,770,2,2,33120,3,False,NaN,3.196685,NaN
478494,2017,41,770,3,15,35300,2,False,3.210603,NaN,NaN
478495,2017,41,770,3,15,35300,3,False,NaN,2.048064,NaN
481791,2017,41,770,1,8,39954,2,False,3.657607,NaN,NaN
481792,2017,41,770,1,8,39954,3,False,NaN,1.756497,NaN
482653,2017,41,770,1,2,46048,2,False,3.725055,NaN,NaN
482654,2017,41,770,1,2,46048,3,False,NaN,2.831187,NaN
513287,2017,47,538,2,13,46443,1,False,4.640288,NaN,NaN
513288,2017,47,538,2,13,46443,2,False,NaN,3.809752,NaN
550929,2017,464,552,3,5,24846,2,False,3.763567,NaN,NaN
550930,2017,464,552,3,5,24846,3,False,NaN,2.724777,NaN
551993,2017,464,552,2,5,25274,2,False,3.678787,NaN,NaN
551994,2017,464,552,2,5,25274,3,False,NaN,2.814222,NaN
555806,2017,464,552,2,5,27895,2,False,3.678787,NaN,NaN
555807,2017,464,552,2,5,27895,3,False,NaN,2.721415,NaN
593134,2017,473,240,4,11,33968,3,False,3.610780,NaN,NaN
593135,2017,473,240,4,11,33968,4,False,NaN,2.127420,NaN
596114,2017,473,240,2,6,39958,2,False,3.625708,NaN,NaN
596115,2017,473,240,2,6,39958,3,False,NaN,2.760287,NaN
598572,2017,475,665,1,1,20157,2,False,3.343931,NaN,NaN
598573,2017,475,665,1,1,20157,3,False,NaN,2.581179,NaN
610778,2017,475,665,4,11,28132,2,False,3.776042,NaN,NaN
610779,2017,475,665,4,11,28132,3,False,NaN,2.520909,NaN
624148,2017,475,665,1,11,39954,2,False,3.386522,NaN,NaN
624149,2017,475,665,1,11,39954,3,False,NaN,2.694044,NaN
667378,2017,493,776,1,5,26289,2,False,3.234537,NaN,NaN
667379,2017,493,776,1,5,26289,3,False,NaN,2.984465,NaN
669239,2017,493,776,1,5,27895,2,False,3.902439,NaN,NaN
669240,2017,493,776,1,5,27895,3,False,NaN,2.877328,NaN

In [37]:
data.Strokes_Gained.isnull().mean()

0.10322936156942791

In [27]:
((((7825.329000-7830.172000)**2 + (6329.044000-6339.458911)**2)**.5) - 132/12.0)/(132/12.0)

0.04416924999130665

In [28]:
((((7825.329000-7825.295527)**2 + (6338.966000-6339.458911)**2)**.5) - 4/12.0)/(4/12.0)

0.482138745476983

In [29]:
((7825.329000-7825.295527)**2 + (6338.966000-6339.458911)**2)**.5

0.49404624849232764

In [30]:
4/12.0

0.3333333333333333