In [5]:
import pandas as pd
import gc
pd.options.display.max_columns = 999

In [7]:
new_data.shape

(1091905, 47)

In [7]:
raw_data.shape

(1255867, 39)

In [18]:
new_data = pd.read_csv('2016.csv')

In [7]:
id_cols = ['Permanent_Tournament_#','Player_#','Round','Hole']

In [10]:
new_data['Stroke'] = new_data.groupby(id_cols)['Penalty_Shots'].cumsum() + new_data.Real_Shots

In [22]:
res = (new_data.groupby(id_cols)['Hole_Score'].max()<new_data.groupby(id_cols)['Stroke'].max())
res[res==True]

Series([], dtype: bool)

In [39]:
(new_data.Start_Z_Coordinate==0).sum()

0

In [3]:
new_data[['Start_X_Coordinate','Start_Y_Coordinate','Start_Z_Coordinate','Shot',
    'End_X_Coordinate','End_Y_Coordinate','End_Z_Coordinate']]

,Start_X_Coordinate,Start_Y_Coordinate,Start_Z_Coordinate,Shot,End_X_Coordinate,End_Y_Coordinate,End_Z_Coordinate
0,6818.287997,6977.385100,NaN,1,7554.588000,6669.062000,2454.659
1,7554.588000,6669.062000,2454.659,2,7839.173000,6353.067000,2458.339
2,7839.173000,6353.067000,2458.339,3,7824.901041,6340.100028,2458.427
3,8413.589521,5978.145375,NaN,1,8504.246000,6839.635000,2460.686
4,8504.246000,6839.635000,2460.686,2,8604.083000,7475.441000,2466.759
5,8604.083000,7475.441000,2466.759,3,8644.831000,7538.393000,2472.085
6,8644.831000,7538.393000,2472.085,4,8658.222000,7574.163000,2473.135
7,8658.222000,7574.163000,2473.135,5,8659.039771,7577.310143,2473.214
8,8683.931654,7743.062776,NaN,1,9385.075000,7910.783000,2471.259
9,9385.075000,7910.783000,2471.259,2,9653.659000,8185.101000,2476.464
10,9653.659000,8185.101000,2476.464,3,9636.093000,8178.507000,2476.048
11,9636.093000,8178.507000,2476.048,4,9636.049450,8178.262885,2476.048
12,9948.731674,8137.798080,NaN,1,9721.002000,8539.406000,2474.940
13,9879.363000,8321.573000,2480.281,4,9754.006000,8572.700000,2481.304
14,9754.006000,8572.700000,2481.304,5,9727.464000,8581.032000,2481.338
15,9727.464000,8581.032000,2481.338,6,9720.217764,8581.607805,2481.263
16,9615.190520,8739.280439,NaN,1,9248.576000,8198.073000,2475.245
17,9248.576000,8198.073000,2475.245,2,8873.537000,7986.096000,2476.322
18,8873.537000,7986.096000,2476.322,3,8862.169000,7961.353000,2476.675
19,8862.169000,7961.353000,2476.675,4,8862.568945,7968.081567,2476.605
20,8748.561689,7883.244366,NaN,1,9095.009000,8574.538000,2475.307
21,9095.009000,8574.538000,2475.307,2,9425.566000,8903.294000,2483.543
22,9425.566000,8903.294000,2483.543,3,9422.524657,8907.302386,2483.581
23,9809.289625,9214.375300,NaN,1,10276.527000,8847.240000,2487.801
24,10276.527000,8847.240000,2487.801,2,10303.898000,8845.617000,2488.713
25,10303.898000,8845.617000,2488.713,3,10312.654975,8850.539486,2488.860
26,10356.594757,8150.570636,NaN,1,10013.943000,7488.402000,2469.853
27,10013.943000,7488.402000,2469.853,2,9248.291000,7329.693000,2468.989
28,9248.291000,7329.693000,2468.989,3,9176.928000,7311.083000,2472.481
29,9176.928000,7311.083000,2472.481,4,9174.305261,7310.153017,2472.376
...,...,...,...,...,...,...,...
1091875,8442.268000,10523.845000,130.003,2,8457.716000,10532.934000,129.361
1091876,8457.716000,10532.934000,129.361,3,8458.526539,10533.861086,129.352
1091877,8384.641911,10395.818133,NaN,1,7542.073000,9953.776000,130.358
1091878,7542.073000,9953.776000,130.358,2,7196.040000,9674.834000,125.655
1091879,7196.040000,9674.834000,125.655,3,7195.294643,9673.088158,125.687
1091880,6821.393695,9139.489830,NaN,1,7538.268000,9716.065000,139.392
1091881,7538.268000,9716.065000,139.392,2,8006.546000,9839.424000,142.615
1091882,8006.546000,9839.424000,142.615,3,7978.305000,9853.628000,142.759
1091883,7978.305000,9853.628000,142.759,4,7980.758624,9853.887229,142.732
1091884,8139.480576,9723.699065,NaN,1,7462.103000,9112.919000,131.551
1091885,7462.103000,9112.919000,131.551,2,7489.694000,8561.117000,118.711
1091886,7489.694000,8561.117000,118.711,3,7464.669000,8560.716000,119.425
1091887,7464.669000,8560.716000,119.425,4,7425.726000,8573.169000,118.958
1091888,7425.726000,8573.169000,118.958,5,7427.176588,8570.307590,118.919
1091889,7517.950000,8360.072507,NaN,1,8121.833000,9057.311000,125.254
1091890,8121.833000,9057.311000,125.254,2,8158.196000,9510.269000,137.751
1091891,8158.196000,9510.269000,137.751,3,8157.796000,9480.304000,137.405
1091892,8157.796000,9480.304000,137.405,4,8156.827293,9483.078980,137.388
1091893,8344.101492,9512.786227,NaN,1,8743.048000,9007.254000,128.549
1091894,8743.048000,9007.254000,128.549,2,8693.217000,9036.995000,128.140
1091895,8693.217000,9036.995000,128.140,3,8698.449000,9032.687000,128.219
1091896,8698.449000,9032.687000,128.219,4,8697.264598,9031.549290,128.238
1091897,8910.276249,8752.478125,NaN,1,8095.682000,8881.048000,126.665
1091898,8095.682000,8881.048000,126.665,2,7831.288000,8526.611000,118.121
1091899,7831.288000,8526.611000,118.121,3,7812.862450,8520.798596,118.164
1091900,7721.271622,8205.474329,NaN,1,8581.105000,8614.142000,116.109
1091901,8581.105000,8614.142000,116.109,2,9209.448000,8691.551000,112.200
1091902,9209.448000,8691.551000,112.200,3,9199.959000,8691.978000,112.091
1091903,9199.959000,8691.978000,112.091,4,9186.883000,8679.456000,111.608
1091904,9186.883000,8679.456000,111.608,5,9190.584831,8683.374751,111.709

In [10]:
new_data['Stroke'] = new_data.groupby(id_cols)['Penalty_Shots'].cumsum() + new_data['Real_Shots']

In [16]:
(new_data.groupby(id_cols).Hole_Score.max()==new_data.groupby(id_cols)['Stroke'].max()).mean()

0.99891993865251549

In [11]:
new_data.head()

,Tour_Code,Tour_Description,Year,Tourn.#,Player_#,Course_#,Permanent_Tournament_#,Player_First_Name,Player_Last_Name,Round,Tournament_Name,Course_Name,Hole,Hole_Score,Par_Value,Yardage,Shot,Shot_Type(S/P/D),#_of_Strokes,From_Location(Scorer),From_Location(Enhanced),To_Location(Laser),To_Location(Enhanced),Distance,Distance_to_Pin,In_the_Hole_Flag,Around_the_Green_Flag,1st_Putt_Flag,Distance_to_Hole_after_the_Shot,Time,Lie,Elevation,Slope,End_X_Coordinate,End_Y_Coordinate,End_Z_Coordinate,Distance_from_Center,Distance_from_Edge,Date,start_loc_equal_to_prev_end_loc,Penalty_Shots,start_loc_equal_to_prev_start_loc,Start_X_Coordinate,Start_Y_Coordinate,Start_Z_Coordinate,Real_Shots,last_shot_mask,Stroke
0,R,PGA TOUR,2003,80,1014,101,1,Fulton,Allem,1,Chrysler Classic of Tucson,Tucson National GC,1,3,4,410,1,S,1,Tee Box,NaN,Primary Rough,Left Rough,9580,0,N,N,NaN,5109,752,Good,With,Level,7554.588000,6669.062000,2454.659,0,0,00/00/0000,0,0,False,6818.287997,6977.385100,NaN,1,False,1
1,R,PGA TOUR,2003,80,1014,101,1,Fulton,Allem,1,Chrysler Classic of Tucson,Tucson National GC,1,3,4,410,2,S,1,Primary Rough,Left Rough,Green,Green,5103,5109,N,N,NaN,231,757,NaN,With,Level,7839.173000,6353.067000,2458.339,0,0,00/00/0000,0,0,False,7554.588000,6669.062000,2454.659,2,False,2
2,R,PGA TOUR,2003,80,1014,101,1,Fulton,Allem,1,Chrysler Classic of Tucson,Tucson National GC,1,3,4,410,3,S,1,Green,Green,NaN,NaN,231,231,Y,N,Y,0,800,Good,With,Level,7824.901041,6340.100028,2458.427,0,0,00/00/0000,0,0,False,7839.173000,6353.067000,2458.339,3,True,3
3,R,PGA TOUR,2003,80,1014,101,1,Fulton,Allem,1,Chrysler Classic of Tucson,Tucson National GC,2,5,5,495,1,S,1,Tee Box,NaN,Fairway,Left Fairway,10395,0,N,N,NaN,9045,806,Good,With,Level,8504.246000,6839.635000,2460.686,0,0,00/00/0000,0,0,False,8413.589521,5978.145375,NaN,1,False,1
4,R,PGA TOUR,2003,80,1014,101,1,Fulton,Allem,1,Chrysler Classic of Tucson,Tucson National GC,2,5,5,495,2,S,1,Fairway,Left Fairway,Green Side Bunker,Front Left Green Side Bunker,7724,9045,N,Y,NaN,1389,815,Good,With,Level,8604.083000,7475.441000,2466.759,0,0,00/00/0000,0,0,False,8504.246000,6839.635000,2460.686,2,False,2