In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/round_train.csv')
data1 = pd.read_csv('data/round_test.csv',header=None)
data1.columns = data.columns

In [5]:
data2 = pd.read_csv('data/2015r.csv')

In [6]:
data2.head()

,Tournament_Year,Tournament_#,Permanent_Tournament_#,Course_#,Player_Number,Player_Name,Round_Number,Tee_Time,Round_Score,End_of_Event_Pos._(text),Finishing_Pos,Finishing_Pct
0,2015,10,464,552,1706,"Love III, Davis",1,07:35,77,CUT,135.5,0.973256
1,2015,10,464,552,2239,"Verplank, Scott",1,08:15,73,CUT,91.0,0.766279
2,2015,10,464,552,6567,"Singh, Vijay",1,12:55,72,CUT,101.5,0.815116
3,2015,10,464,552,8075,"Kelly, Jerry",1,13:25,69,T39,42.0,0.387209
4,2015,10,464,552,8725,"Gillis, Tom",1,07:15,70,T26,28.0,0.256977

In [8]:
data1.head()

,Tournament_Year,Tournament_#,Permanent_Tournament_#,Course_#,Player_Number,Player_Name,Round_Number,Tee_Time,Round_Score,End_of_Event_Pos._(text),Finishing_Pos,Finishing_Pct
0,2014,10,464,775,1381,"Funk, Fred",1,12:00,75,CUT,102.0,0.862530
1,2014,10,464,775,1706,"Love III, Davis",1,12:30,69,T62,65.0,0.628954
2,2014,10,464,775,1724,"Maggert, Jeff",1,07:20,73,80,80.0,0.754258
3,2014,10,464,775,1797,"Mediate, Rocco",1,08:00,73,CUT,119.5,0.947689
4,2014,10,464,775,2239,"Verplank, Scott",1,12:10,72,CUT,124.5,0.972019

In [9]:
data.head()

,Tournament_Year,Tournament_#,Permanent_Tournament_#,Course_#,Player_Number,Player_Name,Round_Number,Tee_Time,Round_Score,End_of_Event_Pos._(text),Finishing_Pos,Finishing_Pct
0,2003,10,16,656,1320,"Estes, Bob",1,11:50,66,T6,7.5,0.197917
1,2003,10,16,656,1361,"Forsman, Dan",1,11:00,69,T21,22.0,0.600694
2,2003,10,16,656,1761,"Mattiace, Len",1,13:00,75,24,24.0,0.656250
3,2003,10,16,656,1797,"Mediate, Rocco",1,12:10,72,T2,2.5,0.059028
4,2003,10,16,656,1920,"Parry, Craig",1,11:20,71,T25,26.5,0.725694

In [10]:
data.tail()

,Tournament_Year,Tournament_#,Permanent_Tournament_#,Course_#,Player_Number,Player_Name,Round_Number,Tee_Time,Round_Score,End_of_Event_Pos._(text),Finishing_Pos,Finishing_Pct
29773,2016,340,26,608,40098,"Fitzpatrick, Matthew",4,10:20,71,T54,55.0,0.494344
29774,2016,340,26,608,46970,"Rahm, Jon",4,11:50,70,T23,27.0,0.240950
29775,2016,340,26,608,47287,"Tracy, Ethan",4,10:10,77,T65,65.5,0.589367
29776,2016,340,26,608,47959,"DeChambeau, Bryson",4,14:50,74,T15,16.0,0.141403
29777,2016,340,26,608,50490,"Parker, Chase",4,11:50,81,64,64.0,0.575792

In [11]:
data = pd.concat([data[data.Tournament_Year<2015],data2,data[data.Tournament_Year>2015]])

In [14]:
data.Tournament_Year.value_counts()

2003    19393
2004    19233
2008    19201
2006    19144
2005    19019
2007    18811
2015    18697
2010    18199
2009    17810
2011    17639
2012    17377
2014    17173
2013    15521
2016    12605
Name: Tournament_Year, dtype: int64

In [16]:
data[data.Tournament_Year==2015].head(3)

,Tournament_Year,Tournament_#,Permanent_Tournament_#,Course_#,Player_Number,Player_Name,Round_Number,Tee_Time,Round_Score,End_of_Event_Pos._(text),Finishing_Pos,Finishing_Pct
0,2015,10,464,552,1706,"Love III, Davis",1,07:35,77,CUT,135.5,0.973256
1,2015,10,464,552,2239,"Verplank, Scott",1,08:15,73,CUT,91.0,0.766279
2,2015,10,464,552,6567,"Singh, Vijay",1,12:55,72,CUT,101.5,0.815116

In [18]:
data.to_csv('data/round.csv',index=False)

In [24]:
import numpy as np
np.array([1.1121e-1000])*np.array([1.1121e-1000])

array([ 0.])

In [25]:
from scipy.stats import norm
def my_norm(x,BETA):
    return norm.pdf(x,0,BETA)/norm.pdf(0,0,BETA)

In [26]:
my_norm(-40,5)

1.2664165549094177e-14