In [1]:
import pandas as pd
import numpy as np
import pickle

In [38]:
data = pd.concat([pd.read_csv('data/%d.csv' % (year,)) for year in range(2003,2017)])

In [26]:
inds = {num:ind for ind,num in enumerate(pd.unique(data['Player_#']))}
data.insert(5,'Player_Index',[inds[num] for num in data['Player_#']])

In [2]:
tourn_order = pd.read_csv('tourn_order.csv',header=None)

In [28]:
data = data[['Year','Permanent_Tournament_#','Round','Course_#','Hole']].drop_duplicates()

In [29]:
list_of_frames = []
for tup in tourn_order.values.tolist():
    list_of_frames.append(data[(data.Year==tup[0]) & (data['Permanent_Tournament_#']==tup[1])])
new_data = pd.concat(list_of_frames)

In [31]:
hole_tups = new_data[['Year','Permanent_Tournament_#','Round','Course_#','Hole']].values.tolist()

In [37]:
with open('num_to_ind.pkl','w') as pickleFile:
    pickle.dump(inds,pickleFile)

with open('hole_tups.pkl','w') as pickleFile:
    pickle.dump(hole_tups,pickleFile)

In [3]:
data = pd.read_csv('data/round.csv')

In [4]:
data.head()

,Tournament_Year,Tournament_#,Permanent_Tournament_#,Course_#,Player_Number,Player_Name,Round_Number,Tee_Time,Round_Score,End_of_Event_Pos._(text),Finishing_Pos,Finishing_Pct
0,2003,10,16,656,1320,"Estes, Bob",1,11:50,66,T6,7.5,0.197917
1,2003,10,16,656,1361,"Forsman, Dan",1,11:00,69,T21,22.0,0.600694
2,2003,10,16,656,1761,"Mattiace, Len",1,13:00,75,24,24.0,0.656250
3,2003,10,16,656,1797,"Mediate, Rocco",1,12:10,72,T2,2.5,0.059028
4,2003,10,16,656,1920,"Parry, Craig",1,11:20,71,T25,26.5,0.725694

In [8]:
data[['Tournament_Year','Permanent_Tournament_#']].drop_duplicates().values.tolist()[0:10]

[[2003, 16],
 [2003, 6],
 [2003, 3],
 [2003, 2],
 [2003, 5],
 [2003, 4],
 [2003, 7],
 [2003, 1],
 [2003, 8],
 [2003, 10]]

In [11]:
tourn_order.values.tolist()[0:10]

[[2003, 16],
 [2003, 6],
 [2003, 3],
 [2003, 2],
 [2003, 5],
 [2003, 4],
 [2003, 7],
 [2003, 1],
 [2003, 8],
 [2003, 10]]

In [12]:
len(tourn_order),len(data[['Tournament_Year','Permanent_Tournament_#']].drop_duplicates())

(558, 624)

In [13]:
tourns = set(tuple(i) for i in tourn_order.values.tolist())

In [15]:
t_order = [i for i in data[['Tournament_Year','Permanent_Tournament_#']].drop_duplicates().values.tolist() if tuple(i) in tourns]

In [18]:
t = set(tuple(i) for i in t_order)

In [21]:
len(tourns),len(t_order)

(558, 556)

In [30]:
t_current = [i for i in tourn_order.values.tolist() if tuple(i) in t]

In [31]:
len(t_current),len(t_order)

(556, 556)

In [32]:
t_current==t_order

True

In [25]:
type(t_current)

list

In [26]:
type(t_order)

list

In [28]:
np.array(t_current)

array([[2006,   34],
       [2004,   22],
       [2005,   23],
       ...,
       [2009,   35],
       [2005,   45],
       [2003,   21]])