In [1]:
import pandas as pd

In [2]:
datar = pd.read_csv('data/round.csv')

In [4]:
datar = datar[datar.Tournament_Year==2003]

In [5]:
data = pd.read_csv('data/2003.csv')

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (18,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
A = datar[['Tournament_Year','Permanent_Tournament_#','Course_#']].drop_duplicates()

In [17]:
B = pd.merge(data,A,left_on=['Year','Permanent_Tournament_#','Course_#'],
         right_on=['Tournament_Year','Permanent_Tournament_#','Course_#'],how='outer')[['Tournament_Year','Permanent_Tournament_#','Course_#']].drop_duplicates()

In [19]:
zip(A.values.tolist()[0:7],B.values.tolist()[0:7])

[([2003, 16, 656], [2003.0, 47.0, 538.0]),
 ([2003, 6, 6], [2003.0, 7.0, 500.0]),
 ([2003, 3, 510], [2003.0, 45.0, 45.0]),
 ([2003, 2, 649], [2003.0, 2.0, 649.0]),
 ([2003, 2, 202], [2003.0, 29.0, 612.0]),
 ([2003, 2, 102], [2003.0, 12.0, 12.0]),
 ([2003, 2, 2], [2003.0, 475.0, 665.0])]

In [20]:
data[['Year','Permanent_Tournament_#','Course_#']].drop_duplicates().head()

    Year  Permanent_Tournament_#  Course_#
0   2003                      47       538
1   2003                       7       500
2   2003                      45        45
3   2003                       2       649
10  2003                      29       612

In [21]:
new_data = pd.DataFrame({col:[] for col in data.columns})
for tup in A.values.tolist():
    new_data = new_data.append(data[(data.Year==tup[0]) & 
                                    (data['Permanent_Tournament_#']==tup[1]) & 
                                    (data['Course_#']==tup[2])])

In [27]:
A = pd.DataFrame({'A':[3,4,5,6,3],'B':[4,3,1,1,4],'C':[3,4,3,5,6]})
A

   A  B  C
0  3  4  3
1  4  3  4
2  5  1  3
3  6  1  5
4  3  4  6

In [26]:
[(5,1),(6,1),(3,4),(4,3)]

[(5, 1), (6, 1), (3, 4), (4, 3)]

In [ ]:
data

In [22]:
new_data[['Year','Permanent_Tournament_#','Course_#']].drop_duplicates().head()

         Year  Permanent_Tournament_#  Course_#
18181  2003.0                    16.0     656.0
4548   2003.0                     6.0       6.0
353    2003.0                     3.0     510.0
3      2003.0                     2.0     649.0
9376   2003.0                     5.0       5.0

In [10]:
A.head()

     Tournament_Year  Permanent_Tournament_#  Course_#
0               2003                      16       656
144             2003                       6         6
584             2003                       3       510
992             2003                       2       649
993             2003                       2       202

In [29]:
t = []
for year in range(2003,2017):
    data = pd.read_csv('data/rawdata/%d.txt' % (year,),sep=';')
    t += data[[' Year',' Permanent Tournament #']].drop_duplicates().values.tolist()

/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (20,22,27,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (20,21,22,27,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (13,20,21,22,27,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/adamlevin/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (13,20,21,22,27,33,34,35,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
with open('tourn_order.csv','w') as f:
    for tup in t:
        f.write(','.join(map(str,tup))+'\n')