In [3]:
import pandas as pd
import numpy as np
import pickle
import warnings

In [4]:
cols = [' Player #',' Permanent Tournament #',' Year']
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    data = pd.concat([pd.read_csv('./../data/rawdata/%d.txt' % (year,),sep=';')[cols].drop_duplicates() 
                      for year in range(2003,2017)])

In [8]:
datar = pd.read_csv('./../data/round.csv')
datar = datar[['Tournament_Year','Permanent_Tournament_#','Player_Number']]

In [9]:
datar.head(3)

   Tournament_Year  Permanent_Tournament_#  Player_Number
0             2003                      16           1320
1             2003                      16           1361
2             2003                      16           1761

In [10]:
data.head(3)

      Player #   Permanent Tournament #   Year
0         1320                       16   2003
66        1361                       16   2003
135       1761                       16   2003

In [21]:
players_shot = pd.unique(data[' Player #'])

In [24]:
players_round = pd.unique(datar.Player_Number)

In [25]:
len(players_shot),len(players_round)

(2054, 2600)

In [29]:
num_to_ind_shot = {num:ind for ind,num in enumerate(players_shot)}
ind_to_num_shot = {value:key for key,value in num_to_ind_shot.iteritems()}

In [30]:
num_to_ind_round = {num:ind for ind,num in enumerate(players_round)}
ind_to_num_round = {value:key for key,value in num_to_ind_round.iteritems()}

In [31]:
with open('./../PickleFiles/num_to_ind_shot.pkl','w') as pickleFile:
    pickle.dump(num_to_ind_shot,pickleFile)
    
with open('./../PickleFiles/ind_to_num_shot.pkl','w') as pickleFile:
    pickle.dump(ind_to_num_shot,pickleFile)
    
with open('./../PickleFiles/num_to_ind_round.pkl','w') as pickleFile:
    pickle.dump(num_to_ind_round,pickleFile)
    
with open('./../PickleFiles/ind_to_num_round.pkl','w') as pickleFile:
    pickle.dump(ind_to_num_round,pickleFile)

In [8]:
cols = [' Year',' Permanent Tournament #']
data = pd.concat([pd.read_csv('./../data/rawdata/%d.txt' % (year,),sep=';')[cols].drop_duplicates() 
                  for year in range(2003,2017)])

In [9]:
len(data)

561

In [11]:
tourn_order = [tuple(tup) for tup in data.values.tolist()]

In [13]:
with open('./../PickleFiles/tourn_order.pkl','w') as pickleFile:
    pickle.dump(tourn_order,pickleFile)

In [22]:
cols = [' Course #']
data = pd.concat([pd.read_csv('./../data/rawdata/%d.txt' % (year,),sep=';')[cols].drop_duplicates() 
                  for year in range(2003,2017)])

In [29]:
course_order = data[' Course #'].drop_duplicates().tolist()

In [30]:
len(course_order)

107

In [31]:
with open('./../PickleFiles/course_order.pkl','w') as pickleFile:
    pickle.dump(course_order,pickleFile)

In [ ]:
import course_profiles

tr = course_profiles.return_matrix()

with open('./../PickleFiles/course_profiles.pkl','w') as pickleFile:
    pickle.dump(tr,pickleFile)